<ion-app>
  <ion-header translucent>
    <ion-content fullscreen>
    <ion-app>

      <ion-content fullscreen>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>About</ion-card-subtitle>
            <ion-card-title>This is Entertainement App</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            This app where you can find anime to watch
            Anime refers to a specific style of cartoon produced or inspired by Japanese animation. Think of it this way: all anime shows are cartoons, but not all cartoons are anime. ... But beyond its distinctive visual look, anime has endeared itself into the hearts of fans because of its complex characters and engaging plotlines
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ion-app>
       
      